/** ========================
    Source Sans Pro
============================ **/
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url('../public/fonts/Source Sans Pro/SourceSansPro-Regular.ttf');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: bold;
    font-weight: 700;
    src: url('../public/fonts/Source Sans Pro/SourceSansPro-Bold.ttf');
}

/** ========================
    Publico
============================ **/
@font-face {
    font-family: 'Publico Headline';
    src: url('../public/fonts/Publico/PublicoHeadline-Light-Web.woff2');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Publico Headline';
    src: url('../public/fonts/Publico/PublicoHeadline-Light-Web.woff2');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Publico Headline';
    src: url('../public/fonts/Publico/PublicoHeadline-Light-Web.woff2');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Publico Text';
    src: url('../public/fonts/Publico/PublicoText-Semibold-Web.woff2');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Publico Text';
    src: url('../public/fonts/Publico/PublicoText-Roman-Web.woff2');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}
